# upstream for uWSGI
upstream uwsgi_app {
    server unix:/code/tmp/uwsgi_app.sock;
}

server {
    listen          80;
    server_name     www.educa.magnisale.com educa.magnisale.com;
    error_log       stderr warn;
    access_log      /dev/stdout main;

    location / {
        include     /etc/nginx/uwsgi_params;
        uwsgi_pass  uwsgi_app;
    }
}