# Project Specific (additionals)
dump.rdb
*.crt
*.key

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/    


# Celery stuff
celerybeat-schedule
celerybeat.pid


# Environments & Secrets
.venv/
.env
