{% load static %}
<!DOCTYPE html>
<html>
  <head>
    {# Dynamic title block #}
    <title>{% block title %}{% endblock title %}</title>
    
    <link href="{% static "account/css/base.css" %}" rel="stylesheet">
  </head>

  <body>
    <div id="header">
      <span class="logo">Bookmarks</span>

      {# Navigation menu #}
      {% if request.user.is_authenticated %}
        <ul class="menu">
          <li {% if section == "dashboard" %}class="selected"{% endif %}>
            <a href="{% url "dashboard" %}">My Dashboard</a>
          </li>
          <li {% if section == "images" %}class="selected"{% endif %}>
            <a href="{% url "images:list" %}">Images</a>
          </li>
          <li {% if section == "people" %}class="selected"{% endif %}>
            <a href="{% url "user_list" %}">People</a>
          </li>
        </ul>
      {% endif %}

      {# User info and Logout link OR or Login link #}
      <span class="user">
        {% if request.user.is_authenticated %}
          Hello {{ request.user.first_name|default:request.user.username }},
          <form action="{% url "logout" %}" method="post">
            <button type="submit">Logout</button>
            {% csrf_token %}
          </form>
        {% else %}
          <a href="{% url "login" %}">Log-in</a>
        {% endif %}
      </span>

    </div>

    {# Display messages (e.g., success, error) #}
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">
            {{ message|safe }}
            <a href="#" class="close">x</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {# Block for page-specific content #}
    <div id="content">
      {% block content %}
      {% endblock content %}
    </div>

    {# Load JavaScript libraries #}
    <script src="//cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

    {# Custom JavaScript code #}
    <script>
      const csrftoken = Cookies.get('csrftoken');
      document.addEventListener('DOMContentLoaded', (event) => {
        // DOM loaded
        {% block domready %}
        {% endblock domready %}
      })
    </script>
  </body>
</html>